.main-container {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.potato-facts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-content: center;
  margin: 0 auto;
  gap: 2.5em;
}

.fact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.fact-container img {
  width: 100%;
  height: auto;
}
