.login-modal {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.pink-button, .demo-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  margin-right: 10px;
}


.demo-button {
  background-color: #4caf50;
  color: white;
}

.demo-button:hover {
  background-color: #45a049;
}

.pink-button:last-child {
  margin-right: 0;
}

.errors {
  color: red;
  font-size: 0.875rem;
  margin-top: -15px;
}
